#form{
    background-color: pink;
    display: table;
    /* table jasarii col row garera formatting milauna */
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.row{
    display: table-row;
}

.row label{
    /* esari chai path deko, row bhanne class ko label lai css */
    display: table-cell;
    /* yo chai username: ra input line box lai eutai row ma halna table ko cells jasari banako */
    padding: 10px;
}

.row input{
    display: table-cell;
        /* yo chai username: ra input line box lai eutai row ma halna table ko cells jasari banako */
    padding: 2px;
}

